<%= render "shared/nav" %>
<%= render 'shared/sidebar' %>
<div class="container-fluid mt-4">
  <h1 class="mb-4">Dashboard</h1>
  <div class="row">
    <div class="col-md-8">
      <%= render 'dashboard/portfolio_summary' %>
      <%= render 'dashboard/recent_transactions' %>
    </div>
    <div class="col-md-4">
      <%= render 'dashboard/upcoming_dividends' %>
      <%= render 'dashboard/quick_actions' %>
    </div>
  </div>
</div>